<div class="nav">
    <ul>
        <LinkTo @route="index"><img class="logo" src="assets/plumb-line.jpg" alt="Home Icon"></LinkTo>
        <li>
        <li>Part 1: Beginning</li>
        <ul class="submenu">
            <li><LinkTo @route="our-foundation">Our Foundation</LinkTo></li>
            <li><LinkTo @route="sin">Sin</LinkTo></li>
            <li><LinkTo @route="repentance-from-dead-works">Repentance from Dead Works</LinkTo></li>
            <li><LinkTo @route="redemption">Redemption</LinkTo></li>
            <li><LinkTo @route="faith-toward-god">Faith toward God</LinkTo></li>
            <li><LinkTo @route="water-baptism">Water Baptism</LinkTo></li>
            <li><LinkTo @route="holy-spirit-baptism">Holy Spirit Baptism</LinkTo></li>
            <li><LinkTo @route="fire-baptism">Baptism of Fire</LinkTo></li>
            <li><LinkTo @route="laying-on-of-hands">Laying on of Hands</LinkTo></li>
            <li><LinkTo @route="divine-healing">Divine Healing</LinkTo></li>
            <li><LinkTo @route="resurrection-of-the-dead">Resurrection of the Dead</LinkTo></li>
            <li><LinkTo @route="eternal-judgement">Eternal Judgement</LinkTo></li>
        </ul>
        </li>
        <li>
            <li>Part 2: Perfecting</li>
            <ul class="submenu">
                <li><LinkTo @route="our-foundation">Our Foundation</LinkTo></li>
            <li><LinkTo @route="sin">Sin</LinkTo></li>
            <li><LinkTo @route="repentance-from-dead-works">Repentance from Dead Works</LinkTo></li>
            <li><LinkTo @route="church-discipline">Church Discipline</LinkTo></li>
            </ul>
        </li>
        <li>
            <li>Part 3: Understanding</li>
            <ul class="submenu">
                <li><LinkTo @route="our-foundation">Our Foundation</LinkTo></li>
            <li><LinkTo @route="sin">Sin</LinkTo></li>
            <li><LinkTo @route="repentance-from-dead-works">Repentance from Dead Works</LinkTo></li>
            </ul>
        </li>
        <li>
            <li>Part 4: Living</li>
            <ul class="submenu">
                <li><LinkTo @route="our-foundation">Our Foundation</LinkTo></li>
            <li><LinkTo @route="sin">Sin</LinkTo></li>
            <li><LinkTo @route="repentance-from-dead-works">Repentance from Dead Works</LinkTo></li>
            </ul>
        </li>
        <li>
            <li>Additonal Word Studies</li>
            <ul class="submenu">
                <li><LinkTo @route="our-foundation">Fear of God</LinkTo></li>
                <li><LinkTo @route="sin">Seeking God</LinkTo></li>
                <li><LinkTo @route="repentance-from-dead-works">Love</LinkTo></li>
                <li><LinkTo @route="sin">Humility</LinkTo></li>
                <li><LinkTo @route="grace">Grace</LinkTo></li>
            </ul>
        </li>
                <li>
            <li>Denominations of Christianity</li>
            <ul class="submenu">
                <li><LinkTo @route="our-foundation">Catholicism</LinkTo></li>
            <li><LinkTo @route="sin">Protestantism</LinkTo></li>
            <li><LinkTo @route="repentance-from-dead-works">Lutheranism</LinkTo></li>
            </ul>
        </li>
    </ul>
</div>
<h2 class="title">{{@title}}</h2>