<Navbar
@title="Grace"
/>
<SectionContent @section-title="What is Grace?">
  <h4>Grace as Undeserved Favor</h4>
  <p>Grace not only frees us from the penalty of sin, it frees us from the enslavement of sin.</p>
  <p>undeserved favor</p>
  <h4>Grace as Power for Living</h4>
  <p>Empowerment</p>
</SectionContent>
<SectionContent @section-title="Undeserved Favor">
  <h4>Grace as Undeserved Favor</h4>
  <p>undeserved favor</p>
  <ScriptureRef @scripture-title="Romans 3:24">
    <p>“[We] are justified by his grace as a gift, 
    through the redemption that is in Christ Jesus.”</p>
  </ScriptureRef>
  <ScriptureRef @scripture-title="Romans 3:24">
    <p>“[We] are justified by his grace as a gift, 
    through the redemption that is in Christ Jesus.”</p>
  </ScriptureRef>
  <ScriptureRef @scripture-title="Romans 3:24">
    <p>“[We] are justified by his grace as a gift, 
    through the redemption that is in Christ Jesus.”</p>
  </ScriptureRef>
</SectionContent>
<SectionContent @section-title="Gods' Empowerment">
  <h4>Grace as Power for Living</h4>
  <p>Empowerment</p>
</SectionContent>