<Navbar/>
<br>
<div class="content-text">
    <h3>Part 1: Beginning the Christian Life</h3>
    <ul class="content-text-lists">
        <li><LinkTo @route="our-foundation">Our Foundation</LinkTo></li>
        <li><LinkTo @route="sin">Sin</LinkTo></li>
        <li><LinkTo @route="repentance-from-dead-works">Repentance from Dead Works</LinkTo></li>
        <li><LinkTo @route="redemption">Redemption</LinkTo></li>
        <li><LinkTo @route="faith-toward-god">Faith toward God</LinkTo></li>
        <li><LinkTo @route="water-baptism">Water Baptism</LinkTo></li>
        <li><LinkTo @route="holy-spirit-baptism">Holy Spirit Baptism</LinkTo></li>
        <li><LinkTo @route="fire-baptism">Baptism of Fire</LinkTo></li>
        <li><LinkTo @route="laying-on-of-hands">Laying on of Hands</LinkTo></li>
        <li><LinkTo @route="divine-healing">Divine Healing</LinkTo></li>
        <li><LinkTo @route="resurrection-of-the-dead">Resurrection of the Dead</LinkTo></li>
        <li><LinkTo @route="eternal-judgement">Eternal Judgement</LinkTo></li>
    </ul>
</div>
<div class="content-text">
    <h3>Part 2: Perfecting the Christian Life</h3>
    <ul class="content-text-lists">
        <li><LinkTo @route="our-foundation">Our Foundation</LinkTo></li>
        <li><LinkTo @route="sin">Sin</LinkTo></li>
        <li><LinkTo @route="repentance-from-dead-works">Repentance from Dead Works</LinkTo></li>
        <li><LinkTo @route="redemption">Redemption</LinkTo></li>
        <li><LinkTo @route="faith-toward-god">Faith toward God</LinkTo></li>
        <li><LinkTo @route="water-baptism">Water Baptism</LinkTo></li>
        <li><LinkTo @route="holy-spirit-baptism">Holy Spirit Baptism</LinkTo></li>
        <li><LinkTo @route="fire-baptism">Baptism of Fire</LinkTo></li>
        <li><LinkTo @route="laying-on-of-hands">Laying on of Hands</LinkTo></li>
        <li><LinkTo @route="divine-healing">Divine Healing</LinkTo></li>
        <li><LinkTo @route="resurrection-of-the-dead">Resurrection of the Dead</LinkTo></li>
        <li><LinkTo @route="eternal-judgement">Eternal Judgement</LinkTo></li>
    </ul>
</div>
<div class="content-text">
    <h3>Part 3: Understanding the Christian Life</h3>
    <ul class="content-text-lists">
        <li><LinkTo @route="our-foundation">Our Foundation</LinkTo></li>
        <li><LinkTo @route="sin">Sin</LinkTo></li>
        <li><LinkTo @route="repentance-from-dead-works">Repentance from Dead Works</LinkTo></li>
        <li><LinkTo @route="redemption">Redemption</LinkTo></li>
        <li><LinkTo @route="faith-toward-god">Faith toward God</LinkTo></li>
        <li><LinkTo @route="water-baptism">Water Baptism</LinkTo></li>
        <li><LinkTo @route="holy-spirit-baptism">Holy Spirit Baptism</LinkTo></li>
        <li><LinkTo @route="fire-baptism">Baptism of Fire</LinkTo></li>
        <li><LinkTo @route="laying-on-of-hands">Laying on of Hands</LinkTo></li>
        <li><LinkTo @route="divine-healing">Divine Healing</LinkTo></li>
        <li><LinkTo @route="resurrection-of-the-dead">Resurrection of the Dead</LinkTo></li>
        <li><LinkTo @route="eternal-judgement">Eternal Judgement</LinkTo></li>
    </ul>
</div>
<div class="content-text">
    <h3>Part 4: Living the Christian Life</h3>
    <ul class="content-text-lists">
        <li><LinkTo @route="our-foundation">Our Foundation</LinkTo></li>
        <li><LinkTo @route="sin">Sin</LinkTo></li>
        <li><LinkTo @route="repentance-from-dead-works">Repentance from Dead Works</LinkTo></li>
        <li><LinkTo @route="redemption">Redemption</LinkTo></li>
        <li><LinkTo @route="faith-toward-god">Faith toward God</LinkTo></li>
        <li><LinkTo @route="water-baptism">Water Baptism</LinkTo></li>
        <li><LinkTo @route="holy-spirit-baptism">Holy Spirit Baptism</LinkTo></li>
        <li><LinkTo @route="fire-baptism">Baptism of Fire</LinkTo></li>
        <li><LinkTo @route="laying-on-of-hands">Laying on of Hands</LinkTo></li>
        <li><LinkTo @route="divine-healing">Divine Healing</LinkTo></li>
        <li><LinkTo @route="resurrection-of-the-dead">Resurrection of the Dead</LinkTo></li>
        <li><LinkTo @route="eternal-judgement">Eternal Judgement</LinkTo></li>
    </ul>
</div>
